
@import "../helpers";

$context_slug: wppresskit;

.#{$context_slug}-content {

	> section {
		padding: 0 0 30px;

		h2 {
			margin: 0;
			padding: 0 0 0.7em;
		}
	}

	@mixin listing($item_name) {
		list-style: inside none;
		padding: 0;
		margin: 0;
		@extend %clearfix;

		.#{$context_slug}-#{$item_name} {
			padding: 20px 0 0;
			margin: 0;
			clear: both;
			background: none;
			@extend %clearfix;

			&:first-of-type {
				padding-top: 0;
			}

			.#{$context_slug}-#{$item_name}-image {
				width: 20%;

				img {
					width: 100%;
					height: auto;
					@extend %fix-image;
				}
			}

			.#{$context_slug}-#{$item_name}-details {
				line-height: 1.7;
			}
			.#{$context_slug}-#{$item_name}-image+.#{$context_slug}-#{$item_name}-details {
				width: 75%;
			}

			.#{$context_slug}-#{$item_name}-title {
				font-size: 1.2em;
				font-weight: bold;
				padding: 0 0 0.583em;
			}

			.#{$context_slug}-#{$item_name}-meta {
				padding-top: 0.7em;
				line-height: 1.7;
				opacity: 0.8;
				text-align: right;
			}

			&:nth-child(odd) {
				.#{$context_slug}-#{$item_name}-image {
					float: left;
					padding: 0 5% 0 0;
				}
				.#{$context_slug}-#{$item_name}-image+.#{$context_slug}-#{$item_name}-details {
					float: right;

					.#{$context_slug}-#{$item_name}-meta {
						text-align: left;
					}
				}
			}

			&:nth-child(even) {
				.#{$context_slug}-#{$item_name}-image {
					float: right;
					padding: 0 0 0 5%;
				}
				.#{$context_slug}-#{$item_name}-image+.#{$context_slug}-#{$item_name}-details {
					float: left;

					.#{$context_slug}-#{$item_name}-meta {
						text-align: right;
					}
				}
			}
		}
	}

	//TODO: remove padding when no image and around edges
	.#{$context_slug}-clippings-section {
		.#{$context_slug}-clippings {
			@include listing(clipping);
		}
	}

	.#{$context_slug}-awards-section {
		.#{$context_slug}-awards {
			@include listing(award);
		}
	}

	.#{$context_slug}-faq-section {
		.#{$context_slug}-question-text {
			font-weight: bold;
		}
	}

	.#{$context_slug}-images-section {
		.#{$context_slug}-images {
			list-style: inside none;
			padding: 0;
			margin: 0;
			@extend %clearfix;

			.#{$context_slug}-image {
				float: left;
				background: none;
				padding: 0;
				margin: 0 10px 10px 0;

				img {
					@extend %fix-image;
				}
			}
		}
	}

	.#{$context_slug}-downloads-section {

		.#{$context_slug}-download-presskit-container {
			text-align: center;
			margin: 15px;
		}

		.#{$context_slug}-download-presskit {
			border: none;
			box-shadow: none;
			outline: none;
			display: inline-block;

			font-size: 18px;
			text-align: center;
			color: white;
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			font-weight: bold;
			text-decoration: none;
			font-style: normal;
			text-transform: uppercase;

			padding: 10px 40px;
			margin: 0;
			border-radius: 10px;
			line-height: 1.2;
			border-bottom: 5px inset rgba(0,0,0,0.3);

			background-color: #64ACF3;

			&:hover {
				border-bottom: 5px inset rgba(0,0,0,0.15);
			}
		}

		h3 {
			margin: 0;
			padding: 0 0 0.4em 0;
		}
	}

	.#{$context_slug}-news-section {
		.#{$context_slug}-news-title {
			display: inline;
			margin-right: 0.5em;
		}
		.#{$context_slug}-news-date {
			display: inline;
			font-style: italic;
		}
	}

}
