
%fix-image {
	border-radius: 0px;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

%clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
