
@import "../helpers";

%form-header {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
	padding-bottom: 10px;
}

$context_slug: wppresskit;

.#{$context_slug}-form-fields {

	textarea {
		width: 100%;
		min-height: 100px;
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		width: 100%;
	}

	.#{$context_slug}-field {
		@extend %clearfix;

		.#{$context_slug}-field-title {
			float: left;
			box-sizing: border-box;
			width: 150px;
			padding: 5px 10px 5px 0;
			font-size: 1.15em;
			font-weight: bold;
			line-height: 1;
			text-align: right;
		}
		.#{$context_slug}-field-content {
			float: right;
			width: calc(100% - 150px);
			vertical-align: top;
		}
		.#{$context_slug}-field-desc {
			clear: both;
			float: right;
			width: calc(100% - 150px);
			padding-top: 0.8em;
			font-style: italic;
			opacity: 0.8;
		}
	}

	.#{$context_slug}-file-url-field-input-container {
		width: calc(100% - 7em);
		float: left;
	}

	.#{$context_slug}-file-url-field-select {
		display: block;
		box-sizing: border-box;
		width: 6em;
		text-align: center;
		float: right;
	}

	.#{$context_slug}-file-selector {
		display: table;
		border: 1px solid gray;
		border-radius: 5px;
		overflow: hidden;
		@extend %noselect;

		.#{$context_slug}-file-selector-preview {
			width: 150px;
			height: 150px;
			display: table-cell;
			text-align: center;
			border-right: 1px solid gray;
			background: #ccc;
			position: relative;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
			}

			.#{$context_slug}-file-selector-preview-image {
				position: absolute;
				bottom: 26px;
				left: 0;
				right: 0;
				top: 0;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;

					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

					@extend %fix-image;
				}
			}

			.#{$context_slug}-file-selector-preview-text {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				line-height: 2;
				background: #ddd;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
				font-size: 13px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.#{$context_slug}-file-selector-actions {
			vertical-align: top;
			display: table-cell;
			background: #ddd;

			> div {
				padding: 10px 15px;
				border-bottom: 1px solid gray;
				cursor: pointer;
				background: linear-gradient(to bottom, #eee 0%,#ccc 100%);

				&:hover {
					background: linear-gradient(to bottom, #fff 0%,#ddd 100%);
				}

				&:active {
					background: linear-gradient(to bottom, #ddd 0%,#bbb 100%);
				}
			}
		}
	}

	.#{$context_slug}-group {
		.#{$context_slug}-group-title {
			@extend %form-header;
		}

		.#{$context_slug}-group-list {
			margin: 0;
			padding: 0;

			.#{$context_slug}-group-item {
				margin: 0 0 5px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.#{$context_slug}-repeater {
		.#{$context_slug}-repeater-title {
			@extend %form-header;
		}

		.#{$context_slug}-field-desc {
			width: 100%;
		}

		.#{$context_slug}-repeater-list {
			margin: 8px 0 0;
			padding: 0;

			.placeholder {
				border: 4px dashed gray;
				height: 75px;
			}

			.#{$context_slug}-repeater-item {
				border: 1px solid #DFDFDF;
				border-radius: 5px;
				margin: 0 0 5px;
				padding: 10px 30px 10px 10px;
				background: #F5F5F5;
				position: relative;

				&:last-child {
					margin: 0;
				}

				&.dragged {
					position: absolute;
					opacity: 0.5;
					z-index: 2000;
				}

				.#{$context_slug}-repeater-item-remove {
					position: absolute;
					top: 5px;
					right: 5px;

					&:before {
						cursor: pointer;
						display: inline-block;
						width: 20px;
						height: 20px;
						font-size: 20px;
						line-height: 1;
						font-family: dashicons;
						font-weight: normal;
						font-style: normal;
						vertical-align: top;
						content: "\f158";
					}
				}

				.#{$context_slug}-repeater-item-handle {
					cursor: move;
					position: absolute;
					top: 30px;
					bottom: 5px;
					right: 5px;
					width: 20px;

					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAABDSURBVChTlY4BCgAgCAN9uj9fTDLMLOxgYnpIAqAVK6oKRiZ59i867ON7oxJLOS5zHOtZ2n/MIjlmZj/gfl28xQEgA7G3sWdLT2W8AAAAAElFTkSuQmCC');
				}
			}
		}
	}
}
